Repository jmamarques/xml_library_pa, changes with the labels that .github/labeler.yml gives for each.
All labels: test, source, documentation

Update labeler.yml
  .github/workflows/labeler.yml
Labels: none

Update labeler.yml
  .github/workflows/labeler.yml
Labels: none

implement find multiple xml elements
  src/main/kotlin/impl/FindMultipleXmlTag.kt
  src/test/kotlin/impl/FindMultipleXmlTagTest.kt
Labels: test, source

Completed Phase 1
  src/main/kotlin/impl/FilterXmlTag.kt
  src/main/kotlin/impl/XmlToString.kt
  src/test/kotlin/impl/FilterXmlTagTest.kt
Labels: test, source

initial structure to phase 2
  src/main/kotlin/annotations/XmlIgnore.kt
  src/main/kotlin/annotations/XmlName.kt
  src/main/kotlin/annotations/XmlTagContent.kt
  src/main/kotlin/model/Prototype.kt
  src/main/kotlin/structure/Prolog.kt
Labels: source

update README.md with important information for library
  README.md
  XmlLibrary.png
Labels: documentation

initial Parser implementation
  README.md
  build.gradle.kts
  src/main/kotlin/annotations/XmlIgnore.kt
  src/main/kotlin/annotations/XmlName.kt
  src/main/kotlin/annotations/XmlTagContent.kt
  src/main/kotlin/impl/XmlParser.kt
  src/main/kotlin/impl/XmlToString.kt
  src/main/kotlin/model/Prototype.kt
  src/main/kotlin/model/PrototypeI.kt
  src/main/kotlin/model/PrototypeII.kt
  src/main/kotlin/model/PrototypeIII.kt
  src/main/kotlin/model/TypeEnum.kt
  src/main/kotlin/util/XmlUtil.kt
Labels: source, documentation

implement XmlLogic
  src/main/kotlin/impl/XmlParser.kt
  src/main/kotlin/model/PrototypeIII.kt
Labels: source

complete Parser implementation
  src/main/kotlin/impl/XmlParser.kt
  src/main/kotlin/model/PrototypeI.kt
  src/main/kotlin/model/PrototypeII.kt
  src/main/kotlin/model/PrototypeIII.kt
  src/main/kotlin/util/XmlUtil.kt
  src/test/kotlin/impl/XmlParserTest.kt
Labels: test, source

implement xml ignore
  src/main/kotlin/impl/XmlParser.kt
Labels: source

refactor
  src/main/kotlin/sample/PrototypeI.kt
  src/main/kotlin/sample/PrototypeII.kt
  src/main/kotlin/sample/PrototypeIII.kt
  src/main/kotlin/sample/TypeEnum.kt
  src/test/kotlin/impl/XmlParserTest.kt
Labels: test, source

Phase 3 - Add basic APP to create Xml Objects
  src/main/kotlin/Main.kt
  src/main/kotlin/app/XmlWindow.kt
  src/main/kotlin/app/basic/ComponentAction.kt
  src/main/kotlin/app/basic/ComponentAttribute.kt
  src/main/kotlin/app/basic/ComponentSkeleton.kt
  src/main/kotlin/structure/Attribute.kt
  src/main/kotlin/structure/Command.kt
  src/main/kotlin/structure/IObservable.kt
  src/main/kotlin/structure/Node.kt
  src/main/kotlin/structure/XmlAttribute.kt
Labels: source

Add and Delete to ComponentAttribute
  src/main/kotlin/app/basic/ComponentAction.kt
  src/main/kotlin/app/basic/ComponentAttribute.kt
  src/main/kotlin/app/basic/ComponentSkeleton.kt
Labels: source

implement observable
  src/main/kotlin/app/XmlWindow.kt
  src/main/kotlin/app/basic/ComponentAction.kt
Labels: source

Rename class
  src/main/kotlin/app/basic/ComponentSkeleton.kt
  src/main/kotlin/apptest/ExObserver.kt
  src/main/kotlin/apptest/SwingDSL.kt
  src/main/kotlin/impl/XmlConverter.kt
  src/test/kotlin/impl/XmlConverterTest.kt
Labels: test, source

Add validator on syntax
  src/main/kotlin/app/XmlWindow.kt
  src/main/kotlin/app/basic/ComponentAttribute.kt
  src/main/kotlin/app/basic/ComponentSkeleton.kt
  src/main/kotlin/impl/XmlConverter.kt
  src/main/kotlin/util/XmlUtil.kt
Labels: source

Command Pattern
  build.gradle.kts
  data.xml
  src/main/kotlin/app/XmlWindow.kt
  src/main/kotlin/app/basic/ComponentAction.kt
  src/main/kotlin/app/basic/ComponentAttribute.kt
  src/main/kotlin/app/basic/ComponentSkeleton.kt
  src/main/kotlin/app/command/AttributeValueCommand.kt
  src/main/kotlin/app/command/Command.kt
  src/main/kotlin/structure/Command.kt
  src/main/kotlin/structure/IObservable.kt
Labels: source

Command Pattern - Attribute
  data.xml
  src/main/kotlin/app/XmlWindow.kt
  src/main/kotlin/app/basic/ComponentAttribute.kt
  src/main/kotlin/app/basic/ComponentSkeleton.kt
  src/main/kotlin/app/command/attribute/AttributeNameCommand.kt
  src/main/kotlin/app/command/attribute/AttributeValueCommand.kt
  src/main/kotlin/app/command/attribute/CreateAttributeCommand.kt
  src/main/kotlin/app/command/attribute/DeleteAttributeCommand.kt
Labels: source

Phase 3 completed
  src/main/kotlin/app/basic/ComponentSkeleton.kt
  src/main/kotlin/app/command/skeleton/CreateNodeCommand.kt
  src/main/kotlin/app/command/skeleton/DeleteNodeCommand.kt
  src/main/kotlin/app/command/skeleton/NodeNameCommand.kt
Labels: source

update readme
  README.md
  XmlLibrary.png
Labels: documentation

phase 4
  data.xml
  src/main/kotlin/app/basic/ComponentAttributeG.kt
  src/main/kotlin/app/basic/ComponentGeneric.kt
  src/main/kotlin/app/command/attribute/DeleteAttributeGCommand.kt
  src/main/kotlin/app/command/skeleton/CreateNodeCommand.kt
  src/main/kotlin/app/command/skeleton/CreateNodeGCommand.kt
  src/main/kotlin/app/command/skeleton/DeleteNodeGCommand.kt
  src/main/kotlin/impl/XmlDependencyInjection.kt
  src/main/kotlin/structure/Inject.kt
  src/main/kotlin/structure/InjectAdd.kt
  src/main/resources/xml.properties
Labels: source

create generic node by reflection
  data.xml
  src/main/kotlin/app/basic/ComponentAttribute.kt
  src/main/kotlin/app/basic/ComponentAttributeG.kt
  src/main/kotlin/app/basic/ComponentGeneric.kt
  src/main/kotlin/app/basic/ComponentSkeleton.kt
  src/main/kotlin/app/command/skeleton/CreateGenericNodeCommand.kt
Labels: source

add basic components clean project
  build.gradle.kts
  data.xml
  src/main/kotlin/annotations/XmlIgnore.kt
  src/main/kotlin/annotations/XmlTagContent.kt
  src/main/kotlin/app/basic/ComponentAttributeG.kt
  src/main/kotlin/app/command/attribute/AttributeValueCheckboxCommand.kt
  src/main/kotlin/app/command/attribute/AttributeValueDateCommand.kt
  src/main/kotlin/app/impl/ComponentBooleanAttribute.kt
  src/main/kotlin/app/impl/ComponentDateAttribute.kt
  src/main/kotlin/app/impl/ComponentTextAttribute.kt
  src/main/kotlin/impl/XmlDependencyInjection.kt
  src/main/kotlin/util/DateLabelFormatter.kt
  src/main/resources/xml.properties
Labels: source

Add extra injection when don't have InjectAdd
  data.xml
  src/main/kotlin/app/basic/ComponentGeneric.kt
  src/main/kotlin/app/impl/ComponentBody.kt
  src/main/kotlin/impl/XmlDependencyInjection.kt
  src/main/resources/xml.properties
Labels: source

update README.md
  README.md
Labels: documentation

delete comments
  src/main/kotlin/app/basic/ComponentSkeleton.kt
Labels: source

.github/labeler.yml:

test: src/test/**/*
source: src/main/**/*
documentation: README.md
